@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Oswald);@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);/*!
nava{
background-color: grey; 
}
imge{
	height: 20%;
	width: 100%;
}